.hidden {
  display: none;
}
.header_main {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

#menu_list {
  position: absolute; /* Для появления под меню */
  left: -10px;
  width: 100px;
  padding: 10px;
  color: white;
}
.menu_container {
  position: relative;
}

#menu_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu_list li {
  margin: 10px 0; /* Каждый пункт меню будет располагаться вертикально */
}

.hidden {
  display: none;
}

p#menu_toggle {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.header_logo {
  display: flex;
  gap: 8px;
}

.header_order_btn {
  border-radius: 60px;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  border: none;
  background: #ed3b44;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: white;
}
