.hidden {
  display: none;
}
.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu_list {
  position: absolute; /* Для появления под меню */
  left: -10px;
  width: 100px;
  padding: 10px;
}
.menu_container {
  position: relative;
}

#menu_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu_list li {
  margin: 10px 0; /* Каждый пункт меню будет располагаться вертикально */
}

.hidden {
  display: none;
}

p#menu_toggle {
  cursor: pointer;
  font-weight: bold;
}
